<!DOCTYPE html>
<html>
	<head>
		<title>Talent Show</title>
		<link rel="stylesheet" href="<%= env === 'development' ? '/styles/main.scss.css' : '/styles/main.scss.min.css?'+version %>" />

	</head>
	<body>
		<div id="app"></div>
		<script type="text/javascript">
			<% if(user) { %>
				window.user = <%- JSON.stringify(user) %>;
				<% if(school) { %>
					window.user.school = <%- JSON.stringify(school) %>;
				<% } %>
			<% } else { %>
				window.user = {};
			<% } %>
		</script>
		<script type="text/javascript" src="<%= env === 'development' ? '/scripts/bundle.js' : '/scripts/bundle.min.js?'+version %>"></script>
		

	</body>
</html>
