body{
	background: $ltBlue;
}

h2, h3, h4, h5 {
		font-family: Bree Serif;
		display: inline;
}



a{
	font-family: Bree Serif;
	font-size: 14pt;
	color: white;
}


img {
	width: 100%;
}

button.buttonPrimary {
		background: $ltGrey;
		color: $darkBlue;
		border: 2px solid $darkBlue;
		font-family: Open Sans;
		height: auto;
		width: auto;
		&:hover{
			background: $yellow;
			color: $black;
		}
	}



