.homepage{
	background: url(../../images/stageBW.jpg) no-repeat center center fixed;
	background-size: cover;
	.display{
		padding-top: 12em;
		max-width: 50%;
		height: 50em;
		margin: 0 auto;
		//background: #EFEFEF;
		color: white;
	}
	.welcome{
		font-size: 18px;
		line-height: 150%;
	}
}
	//max-width: 1000px;
	//margin: 0 auto;
