
.homepage{
	background: url(../../images/stageBW.jpg) no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	
	.display{
		max-width: 50%;
		padding-left: 25%;
		padding-right: 25%;
		background: rgba(0,0,0,0.6);
		color: white;
		padding-top: 12em;
	  	padding-bottom: 30em;
	}
	.welcome{
		font-size: 18px;
		line-height: 150%;
		color: white;
		position: fixed;
		width: 50%
	}
}
	//max-width: 1000px;
	//margin: 0 auto;
