nav{
	//overflow: hidden;
	padding: .5em;
	position: fixed;
  	top: 0;
  	left: 0;
  	z-index: 9999;
  	width: 100%;
  	background: #5B5F97;
	.nav-logo {
		max-width: 10em;
		max-height: 6em;
		padding: 1em;
		float: left;
		margin-right: 1em;
		transform: rotate(-25deg);
	
		.logo{
			font-size: 26px;
			color: white;
			text-decoration: none;
			font-family: Kaushan Script, cursive;
			font-weight: 400;
		}
	}
	span{
		font-size: 14pt;
		font-family: Bree Serif;
	}
	.nav-link{
		float: left;
		margin-top: 1.25em;
		margin-right: 1em;
		color: white;
		text-decoration: none;
	}
	.nav-reg-link-container{
		float: right;
		margin-right: 1em;
	}
	.rayon-spacer{
		top: 105px;
		position: fixed;
	}
}
//login
.login-box{
	padding: 5em;
	input{
		margin-bottom: .5em;
		width: 50%;
	}
}
//registration
.register{
	padding: 2em;
	label{
		display: block;
		margin-bottom: .5em;
	}
	input{
		width: 80%;
		display: block;
		margin-bottom: .5em;
	}
	.logregButtonContainer{
		float: right;
		button{
			margin: .25em;
		}
	}
}