


.submission_Form{
	padding-top: 5em;
	padding-left: 10em;
	max-width: 75%;
	width: 100%;
	margin-top: 7em;
	margin: 0 auto;
}
.inputBox{
	width: 100%;
	margin: 0 auto;
}
.sub_titleContainer{
	margin-top: 10em;
	margin-bottom: 1.5em;
	width: 90%;
	h5 {
		margin-right: 1em;
		color: $black;
		font-family: Open Sans;
	}
	.title{
		float: right;
		//width: 
	}
}
.school_list_container{
	width: 90%;
	margin-bottom: 1.5em;
}
.school_list{
	display: inline;
	float: right;
}
.sub_List_title{
	color: $black;
	font-family: Open Sans;
}

.sub_selectfile_container{
	width: 90%;
	margin-bottom: 1.5em;
}
.sub_label_file{
	color: $black;
	font-family: Open Sans;
}
.sub_button_file{
	float: right;
	background: white;
}
.video_container{
	width: 90%;
	overflow: hidden;
	margin-bottom: 1.5em;
}
video{
	border: 1px solid black;
	display: block;
	margin: 0 auto;
	background: $mdGrey;
    // @media only screen and (device-width: 900px){
    //    video{
    //    	width: 400px;
    //    	height: 200px;
    //    }
    // }
}
.sub_desc_label{
	color: $black;
	font-family: Open Sans;
}
.sub_desc_container{
	width: 90%;
	margin-bottom: 1.5em;
}
.sub_desc_input{
	display: block;
	height: 10em;
	width: 100%;
	margin: 0 auto;
}
.sub_button_container{
	margin-top: 2em;
	margin-left: 15em;
	margin-bottom: 5em;
}
.sub_Cancel{
	background: white;
	margin-left: 5em;
}