section{
	margin-top: 116px;
	//overflow: hidden;

}
.schoolSubmissionListContainer{
	width: 100%;
	font-family: Open Sans;
	font-size: 18pt;
	background: #fff;
	border-bottom: 2px solid $mdGrey;
	position: fixed;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: 3em;
	color: $darkGrey;
}
.schoolRows{
	overflow: hidden;
	padding-top: 5em;
	//width: 80%;
}
.itemContainer{
	margin-left: 5em;
    width: 90%;
	cursor: pointer;
	margin-bottom: 2em;
	padding-bottom: 2em;
	border-bottom: 2px solid $mdGrey;
}
.subSpanContainer{
	//width: 100%;
	margin-bottom: 1em;
	overflow: hidden;
	.subDate{
		float: left;
		color: $darkBlue;
	}
	.subStatus{
		float: right;
		color: $darkBlue;
	}
}
.titleAndName{
	padding: .2em;
}
.subTitle{
	font-size: 20pt;
	font-family: Open Sans;
	display: inline-block;
	margin-bottom: 1em;
	color: $darkBlue;
}
.subTalentName{
	margin-right: .15em;
	//float: right;
	font-family: Open Sans;
	color: $darkBlue;
}
.subdescription{
	font-size: 14pt;
	color: $darkBlue;
	width: 75%;
	display: inline-block;
	height: 3em;
    //float: right;
    border: .5px solid $darkBlue;
    background: $ltGrey;
    overflow-x: scroll;
    margin-top: 0;
    //height: 9.5em;
    margin-bottom: 0;
}
.subVideo{
	display: inline-block;
	width: 400px;
	height: 200px;
}



