.schoolDetailsContainer{
	margin-top: 10em;
	width: 80%;
	//margin-left: 10em;
	margin: 0 auto;
}
.detailstitleStatus{
	width: 75%;
	margin: 0 auto;
}
.detailsTitle{
	font-family: Open Sans;
	color: $darkBlue;
	float: left;
}
.detailStatus{
	float: right;
	color: $darkBlue;
	font-size: 12pt;
}
.detailsTextarea{
	width: 75%;
	margin: 0 auto;
	text-align: left;
}
.detailsSubdescription{
	margin-top: 2em;
	width: 100%;
	font-family: Open Sans;
	font-size: 14pt;
	color: $darkBlue;
	margin-bottom: 2em;
}
.detailsVid{
	margin: 0 auto;
	width: 75%;
}
.detailsSubVideo{
	height: 380px;
    width: 686px;
    margin: 0 auto;
}
.detailsMessageContainer{
	width: 75%;
	margin: 0 auto;
	padding-top: 1em;
}
.detailsMessage{
	width: 100%;
}
.detailsAcceptRejectContainer{
	width: 75%;
	text-align: center;
	margin: 0 auto;
}
.detailsAccept, .detailsReject{
	margin: 2em;
	display: inline-block;
}
.detailsChoiceAccept, .detailsChoiceReject{
	display: inline-block;
	color: $darkBlue;
	font-size: 14pt;
	font-family: Open Sans;

}
.detailsButtonContainer{
	width: 80%;
	text-align: center;
	margin: 0 auto;
}
.detailsList{
	//margin-left: 10em;
	
}
.detailsAcceptRejectbutton{
	margin-left: 10em;
}
