.talentdetailsContainer{
	margin-top: 12em;
	width: 100%;

}
.talentdetailsTitleStatusContainer{
	width: 100%;
	margin: 0 auto;
}
.talentdetailssubTitle{
	font-family: Open Sans;
	font-size: 18pt;
	display: inline-block;
	color: $darkBlue;
	float: left;
	margin-right: 23.3em;
}
.talentdetailStatus{
	font-family: Open Sans;
	font-size: 12pt;
	color: $darkBlue;
	float: left;
}
.talentdetailsvideoContainer{
	margin: 0 auto;
}
.talentdetailssubVideo{
	margin-bottom: 2em;
	width: 723px;
	height: 400px;

}
.talentdetailssubdescription{
	font-size: 16pt;
	color: $darkBlue;
	text-align: left;
	margin: 0 auto;
}
.talentdetailsButtonContainer{
	width: 60%;
	text-align: right;
	padding-right: 2em;
	margin-bottom: 2em;
}

.talentdetailssubMessage{
	background: #fff;
	border: 1px solid $mdGrey;
	font-size: 14pt;
	font-family: Open Sans;
	margin-bottom: 2em;
	width: 60%;
	color: $darkGrey;
}