.talentContainer {
	margin-top: 100px;

}
.titleContainer{
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 12em;
	overflow: hidden;
	position: fixed;
	width: 100%;
	// max-width: 74%;
	//margin-left: 12%;
	//margin-top: 1.5em;
	background-color: #fff;
	border-bottom: 2px solid $mdGrey;
	.title, .school, .status{
		font-family: Open Sans;
		color: $darkGrey;
		width: 30%;
		font-size: 18pt;
		//display: block;
		float: left;
		//margin-right: 1em;

	}

}
.talentsubStatus, .talentsubDate{
	font-size: 12pt;
	font-family: Open Sans;
	color: $darkBlue;
	margin-left: 2.5em;
}

.talentReadContainer{
	padding-top: 5em;
	max-width: 75%;
	margin: 0 auto;
}
.talentitemContainer{
	border-bottom: 2px solid $mdGrey;
	overflow: hidden;
	padding-top: 1.5em;
    margin-left: 1.7em;
}
.talentsubTitle{
	cursor: pointer;
	font-size: 16pt;
	color: $darkBlue;
	font-family: Open Sans;
	width: 24%;
	float: left;
}
.talentsubTitle:hover{
	text-decoration: underline;
	}
.talentsubSchool{
	font-size: 14pt;
	width: 24%;
	font-family: Open Sans;
	padding-left: 4em;
	color: $darkBlue;
}
.talentdeleteSub {
	width: 25%;
	//float: left;
}

.talentsubSpanContainer{
	float: right;
	width: 24%;
	overflow: hidden;
	display: block;
	padding-right: 3em;
}
.talentsubStatus{
 	margin-right: .4em;
	color: $darkBlue;
}
.talentsubDate{
	margin-right: 1.75em;
	color: $darkBlue;
}
.subId{
	display: none;
}
