@import 'node_modules/rayon/src/styles/rayon';
@import 'node_modules/normalize.css/normalize.css';
//@import 'homepage';


nav{
	overflow: hidden;
	padding: .5em;
	.nav-logo {
		max-width: 6em;
		max-height: 6em;
		float: left;

		img{
			width: 100%;
		}
	}
	.nav-link{
		float: left;
		margin-top: 2.7em;
		margin-right: 1em;
	}
	.nav-reg-link-container{
		float: right;
	}
}
.login-box{
	padding: 5em;
	input{
		margin-bottom: .5em;
		width: 50%;
	}
}
.submissionForm{
	background: #D1D1D1;
}
.homepage{
	max-width: 1000px;
	
	.display{
		padding-top: 10em;
		max-width: 50%;
		height: 50em;
		margin: 0 auto;
	}
	.welcome{
		font-size: 18px;
		line-height: 150%;
	}
}